exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(RColorBrewer)
import(lazyeval)
import(grid)
import(gridExtra)
import(extrafont)
import(extrafontdb)
import(foreach)
import(doParallel)
import(rmarkdown)
import(iterators)
import(parallel)
import(beepr)
import(magrittr)
import(DT)
import(formattable)